.edit-component-container {
  background-color: #9BBDF9;
  padding: 15px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  .component-type {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 5px;
    background-color: #003459;
    color: white;
    width: 70px;
    text-align: center;
  }
  .settings {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 3px;
    .options-container{
      .option {
        background-color: #c4c4c4;
        margin-bottom: 2px;
      }
    }
  }
}
