html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  //min-height: 100%;
}
#app {
  min-height: 100%;
  background-color: beige;
  padding: 20px;
}
.form-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
